* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/* CSS MODAL */
.modalContainer {
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    z-index: 200000;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.modalContainer.openModal {
    display: flex;
}

.modalTxt {
    background-color: whitesmoke;
    width: 40%;
    min-width: 250px;
    padding: 4em;
    border: 10px solid #ffcb05;
    box-shadow: 0 0 0 10px whitesmoke;

    position: relative;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, -60, 0); /* 1 eixo x 2 eixo y 3 eixo */
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0 );
    }
}

.openMostrar .modalTxt {
    animation: modalAnimation 0.6s;
}

.modalTxt img {
    height: 30vh;
}

.modalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeModal {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 6vh;
    height: 6vh;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    background-color: #ffcb05;
    box-shadow: 0 4px 4px 5px #00000040;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: bolder;

    cursor: pointer;
}