* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    position: fixed;
    top: 0;
    background-color: #2b72b9;
    width: 75vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.navBarLogo img {
    height: 5vh;
}

.navBarPesquisa input {
    width: 30vw;
    height: 4vh;
    border: none;
    border-radius: 5px 5px 5px 5px;
    padding-left: 1em;
}

.navBarPesquisa button {
    width: 3vw;
    height: 4vh;
    top: 50px;
    text-align: center;
    padding-top: .2em;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffcb05;
    color: #2b72b9;
    font-weight: bolder;
    font-size: 1.3em;
    margin-left: .3em;
}

.navBarPesquisa button img{
    height: 2.5vh;
}
