* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.pokeCard {
    height: 30vh;
    width: 10vw;
    display: grid;
    column-gap: 0;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px #2b72b9;
}

.pokeImg {
    height: 19vh;
    width: 10vw;
    border-radius: 5px 5px 0px 0px;
}

.pokeImg img {
    height: 19vh;
    width: 10vw;
    border-radius: 5px 5px 0px 0px;
}

.pokeTxt {
    height: 6.5vh;
    width: 10vw;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bolder;
}

.pokeButton button {
    width: 10vw;
    height: 4.5vh;
    border: none;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    border: none;
    background-color: #2b72b9;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.4em;
    box-shadow: 2px 2px 5px #2b72b9;
}